<div class="row">
    <h1>Educación</h1>
    <!--<div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul type="square">
            <li><h2>Tecnicatura en Logística</h2> - <h3>2022</h3></li>
            <h5>Universidad de Belgrano</h5>
        </ul>
        <ul type="square">
            <li><h2>#SeProgramar</h2> - <h3>2021</h3></li>
            <h5>Argentina Programa</h5>
        </ul>
        <ul type="square">
            <li><h2>Master Control in Supply Chain Management and Logistics</h2> - <h3>2021</h3></li>
            <h5>Chalmers University / EDX</h5>
        </ul>
        <ul type="square">
            <li><h2>Auditor de Normas ISO 9001, ISO 14001 y OHSAS 18001</h2> - <h3>2017</h3></li>
            <h5>UTN Córdoba</h5>
        </ul>
    </div>-->
    <div class="col-lg-2">
        <button type="button" class="btn btn-warning" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar educacion
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h2>{{Educacion.nombreE}}</h2>
                    </td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-warning" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-square"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-dark" (click)="delete(Educacion.id)">
                            <i class="bi bi-tornado"></i> ELIMINAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
