.row{
    padding: 65px;
    padding-bottom: 120px;
}

div{
    background-color: rosybrown;
    text-align: center;
 }

/*Creo etiqueta de nombre*/
#nombre{
    font-weight: bold;
    margin-top: 1%;
    }


/*Cambio el estilo de la foto de perfil*/
    @media (min-width:576px){
    #foto{
        position:absolute;
        width:20%;
        border-radius:100%;
        box-shadow: 3px 3px 3px white;
       top: 650px;
       left: 12px;
    }}

    @media (max-width:575px){
        #foto{
            position:absolute;
            width:30%;
            border-radius:100%;
            box-shadow: 3px 3px 3px white;
           top: 700px;
           left: 33%;
        }}
