<div class="row">
    <h1>HARD & SOFT SKILLS</h1>
    <div class="text-center col-sm-4 col md-4 col-lg-4">
        <circle-progress
            title="GITHUB"
            titleFontWeight="bold"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="45"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'darkblue'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
    ></circle-progress>
    
    </div>
    <div class="text-center col-sm-4 col md-4 col-lg-4">
        <circle-progress
            title="C++"
            titleFontWeight="bold"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="50"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'pink'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col md-4 col-lg-4">
        <circle-progress
            title="JAVA"
            titleFontWeight="bold"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="15"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'darkgreen'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col md-4 col-lg-4">
        <circle-progress
            title="CREATIVIDAD"
            titleFontWeight="bold"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="98"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col md-4 col-lg-4">
        <circle-progress
            title="TRABAJO BAJO PRESIÓN"
            titleFontWeight="bold"
            titleFontSize="14"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="97"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'yellow'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col md-4 col-lg-4">
        <circle-progress
            title="INGLÉS"
            titleFontWeight="bold"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="75"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'magenta'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
    ></circle-progress>
    </div>
</div>
