.row{
    background: rosybrown;
}

footer{
    color:rgb(230, 224, 224);
    font-size:14;
    display:flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px white;
    margin-top: 3%;
}