<div class="row">
    <div class="container">
        <!-- CONTAINER-->
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="imglogo">
        </div>

        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/github.png"  height="65" id="github"></a>
                <a href=""><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://www.linkedin.com/in/rociomarisol-vargassalas/" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>
                <button type="button" class="btn btn-light btn-sm" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
                <button type="button" class="btn btn-light btn-sm" (click)="onLogOut()" *ngIf="isLogged">SALIR</button>
            </div>
        </div>
        <!-- -------- -->
    </div>
</div>